@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: #fff;
    text-decoration: none;
}

#root,
#__next {
    isolation: isolate;
}

/* Start Navbar */
.navbar {
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0 !important;
}

.navbar .navbar_brand img {
    padding-left: 20px;
}

.navbar .navbar-toggler {
    outline: none !important;
    box-shadow: none;
    border-color: #fff;
    font-size: 25px !important;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: #4A00E0;
}

.navbar .fa-bars {
    color: #fff;
}

.navbar .navbar-nav li {
    padding: 0 10px;
}

.navbar .navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    float: right;
    text-align: start;
}

.navbar .navbar-nav li a:hover {
    color: #999 !important;
}

/* End Navbar */
/* Start Header */
.header {
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 10%;
    color: #fff;
}

.header .first-p {
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
}

.header .banner {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.header .banner:hover {
    color: #999;
}

.header .play-btn {
    width: 45px;
    margin: 20px;
}

/* End Header */
/* Start Services */
main .services {
    padding: 80px 0;
}

main .services .serv-img {
    width: 100px;
    margin-top: 20px;
}

main .services .service {
    padding: 20px;
}

main .services h4 {
    padding: 5px;
    margin-top: 25px;
}

main .services .title::before {
    content: "";
    background-color: #7b1798;
    height: 2px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    -webkit-transform: translateY(63px);
    -moz-transform: translateY(63px);
    -ms-transform: translateY(63px);
    -o-transform: translateY(63px);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

main .services .title::after {
    content: "";
    background-color: #4A00E0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(13px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(13px);
    -moz-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
}

main .services .title:hover:before {
    width: 200px;
}

main .services .btn {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: none;
    border: none;
    padding: 8px 25px;
    background: #8E2DE2;
    /*fallbackforoldbrowsers*/
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    /*Chrome10-25,Safari5.1-6*/
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

main .services .btn:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* End Services */

/* Start About */
main .about {
    background-color: #eee;
    padding-bottom: 50px;
    padding-top: 50px;
}

main .about .title::before {
    content: "";
    background-color: #7b1798;
    height: 2px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    -webkit-transform: translateY(63px);
    -moz-transform: translateY(63px);
    -ms-transform: translateY(63px);
    -o-transform: translateY(63px);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

main .about .title::after {
    content: "";
    background-color: #4A00E0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(13px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(13px);
    -moz-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
}

main .about .title:hover:before {
    width: 140px;
}

main .about .about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
    padding-left: 35px;
}

main .about ul li {
    margin: 10px 0;
}

main .about ul {
    margin-left: 20px;
}

/* End About */

/* Start Testimonials */

main .testimonials {
    margin: 100px 0;
}

main .testimonials .title::before {
    content: "";
    background-color: #7b1798;
    height: 2px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    -webkit-transform: translateY(63px);
    -moz-transform: translateY(63px);
    -ms-transform: translateY(63px);
    -o-transform: translateY(63px);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

main .testimonials .title::after {
    content: "";
    background-color: #4A00E0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(13px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(13px);
    -moz-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
}

main .testimonials .title:hover:before {
    width: 320px;
}

main .testimonials .testi {
    margin-top: 50px;
    margin-bottom: 50px;
}

main .testimonials .testi img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 10px;
}

/* End Testimonials */
/* Start Media Query */

@media (min-width: 768px) and (max-width: 1200px) {
    .header .h-img {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .header .h-info {
        margin-left: auto;
        margin-right: auto;
        width: 82%;
    }
}

@media (max-width: 331px) {

    main .testimonials .title::before,
    main .testimonials .title::after {
        display: none;
    }
}

/* End Media Query */
